.animatecontainer{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    overflow: hidden;
    .content{
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        padding:0 3rem 0 0;
        h3{
            font-size:1.8rem;
        }
        p{
            font-size: 1.3rem;
            margin-top:0.8rem;
        }
    }
}